﻿@model IEnumerable<Task23_Library_MVC_Framework.Models.FormAnswer>

@{
    ViewBag.Title = "Result";
    var form = Model.Last();
}

<h3>Thanks for passing our Form</h3>

<div class="col-10">
    <div class="text-box pt-3">
        <div>
            <p>Your name: @form.Name</p>
        </div>
        <div>
            <p>Your genres:</p>
            <p>@MyHelpers.DisplayList(form.Genres.Split(' '))</p>
        </div>
        <div>
            <p>Do you like reading? -@form.ReadingPassion</p>
        </div>
    </div>
</div>

