﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET MVC Framework Library</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <img class="navbar-brand img-logo" src="~/Images/logo.png" alt="Book"/>
                <p class="navbar-header mx-auto">MVC Framework Library</p>
            </nav>
        </header>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-10 float-left">
                    @RenderBody()
                </div>
                <div class="right-sidebar col-2 float-left text-center">
                    <ul>
                        <li>@Html.ActionLink("Main", "Index", "Home")</li>
                        <li>@Html.ActionLink("Comments", "Index", "Guest")</li>
                        <li>@Html.ActionLink("Form", "Index", "Form")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <p class="col-12">Copyright &copy; @DateTime.Now.Year. All Rights Reserved. Serhii Kovalov andrey_roland@hotmail.com <br /> <a class="col-12" href="#top">Go back to top</a> </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
