﻿@model IEnumerable<Task23_Library_MVC_Framework.Models.Article>

@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model)
{
    <article class="text-box pt-3">
        <div>
            <h1>@item.Name</h1>
        </div>
        <div>
            <p>@item.Text</p>
        </div>
        <div>
            <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
        </div>
    </article>
}